<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap-reboot.min.css" rel="stylesheet">
</head>
<body>
<form id="form" action="" class="wizard-big form-horizontal clearfix" >
    <div class="form-group ">
        <div class="row">
            <label class="control-label">项目地址 *</label>
            <div class="form-inline">
                <div data-toggle="distpicker" data-autoselect="3" data-province="湖南省">
                    <select class="form-control"></select>
                    <select class="form-control"></select>
                    <select class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/distpicker/2.0.6/distpicker.min.js"></script>
</body>
</html>